<div id="setup-sunpy" class="setup sunpy">
  <h3>Sunpy</h3>

  <p>
    The complete installation instructions for the Sunpy package can be found 
    <a href="http://docs.sunpy.org/en/latest/guide/installation/index.html#anaconda-python-distribution">here</a>.

    The instructions for installing via the Anaconda package are outlined below.
  </p>
  
  <ol>
    <li>
      After installing Anaconda, open a terminal window.
    </li>
    <li>
      <pre>
conda update astropy
pip install suds
pip install sunpy
pip install --upgrade sunpy
      </pre>
    </li>
  </ol>
</div>
